 <%# ...\''views\home\contact.rhtml-%>
<div id="inline_demo" style="display:none;">
  <div id="light_contact">
  <% form_tag sent_path do -%>
    <%=error_messages_for "contact" -%>
    <%= hidden_field("contact", "name", :value=>"#{current_user.fname} #{current_user.lname}") -%>
    <%= hidden_field("contact", "email_address", :value=>current_user.email) -%>
    <p>Asunto<br /><%= text_field("contact", "subject") -%></p>
    <p>Mensaje<br />
       <%= text_area("contact", "message", {"cols"=>"40", "rows"=>"5"}) -%>
    </p>
    <%= submit_tag "Enviar" -%>
  <% end -%>
  </div>
</div>      
   
