<div id="footer">
  <div id="wrapper" class="clearfix">
    <div id="patrocinadores">
      <span>Nuestros Patrocinadores:</span>
      <br />
      <br />
      <%= link_to image_tag('patrocinadores/Subway2.png'), "http://mex.subway.com", :class => 'ajax', :target => 'content' %>
      <%= link_to image_tag('patrocinadores/gibas.png'), "http://www.atumesa.com/resta_index.asp?id_r=19", :class => 'ajax', :target => 'content' %>
      <%= link_to image_tag('patrocinadores/mv.png'), "http://mvtecnologias.com/", :class => 'ajax', :target => 'content' %>
    </div>
    <div id="saitcFooter">
      <div id="facebookBajo">
        <%= link_to image_tag("bface.png" , :id=>"facebook", :border=>0, :onmouseover=>"this.style.opacity=.7;", :onmouseout=>"this.style.opacity=1;"), "http://www.facebook.com/event.php?eid=105175546205262", :class => 'ajax', :target => 'content' %>
      </div>
      <div id="saitcBajo">
        <%= link_to image_tag("saitcsmall.png" , :id=>"saitcsmall", :border=>0, :onmouseover=>"this.style.opacity=.7;", :onmouseout=>"this.style.opacity=1;"), "http://www.saitc-mty.com", :class => 'ajax', :target => 'content' %>
      </div>
    </div>
  </div>
</div>
