
<div id="top_section"><span><%= @title %></span></div>
	<div id="body_section">
  	<div id="contenido">
			<%= f.error_messages %>
			
			<h3>Datos Personales</h3>
	
			<%= f.label :fname%><br/>
			<%= f.text_field :fname%><br/>

			<%= f.label :lname%><br/>
			<%= f.text_field :lname%><br/>
			
			<%= f.label :career%><br />
			<%= f.select :career,
		             User::CARRERA,
		            :prompt => "Selecciona una carrera"%><br />

			<%= f.label :schoolid%><div style="font-size:9px;">Solamente acepta números</div>
			<%= f.text_field :schoolid %><br/>
			
			<%= f.label :email%><br/>
			<%= f.text_field :email%><br/>

			<%= f.label :password %><br/>
			<%= f.password_field :password %><br/>
	
			<%= f.label :password_confirmation %><br/>
			<%= f.password_field :password_confirmation %><br/>

			<h3>Datos de Contacto</h3>
			
			<%= f.label :phone%><br/>
			<%= f.text_field :phone %><br/>
	
			<%= f.label :cel%><br/>
			<%= f.text_field :cel %><br/>
	
			<%= f.label :nextel%><br/>
			<%= f.text_field :nextel %><br/>
			
			<%if current_user%>
				<%if current_user.admin?%>
					<%= f.label :admin, "Administrador?"%><br/>
					<%= f.check_box :admin %><br/>
	
					<%= f.label :colaborator, "Colaborador?"%><br/>
					<%= f.check_box :colaborator %><br/>
				<%end%>
			<%end%>
					
