Total de usuarios: <%= @users.count%>
<table>
<tr>
<th>Nombre</th>
<th>Carrera</th>
<th>Correo electronico</th>
<th>Matricula</th>
</tr>

<% @users.each do |u| %>
<tr>
<td><%= link_to u.name, :action => "show", :id => u.id%></td>
<td><%=h u.carrer%></td>
<td><%=h u.email%></td>
<td><%=h u.matricula%></td>
<td>Hace <%= distance_of_time_in_words_to_now(u.created_at)%></td>
<td><%= link_to "Editar", :action => "edit", :id => u.id%></td>
<td><%= link_to "Eliminar",u, :confirm => 'Seguro wey?', :method => :delete%></td>
</tr>
<%end%>
</table>
