	<script type="text/javascript">
      $("document").ready(function(){
      $("#nuevaLaptop").css("display", "none");
      
			});
       $(function(){          
       		$("#apareceForma").click(function (){
               $("#nuevaLaptop").fadeIn("slow");
           });
           
      });
   </script>
     
	<%if current_user.admin? or current_user.colaborator?%>
		<%= render :partial => 'formaBusqueda'%>
	<%end%>
	
		
	<% @user.colaborators.each do |c|%>
		<%= link_to "Laptop #{c.status}", :controller => "laptops", :action => "show", :id => c.laptop_id%>
	<%end%>
	<!-- aqui termina la columna izquierda -->
</div>
<div id="maincol">
	<div id="nuevaLaptop">
		<% form_for(@laptop) do |f| %>
			<%= f.error_messages %>
			<%= render :partial => 'laptops/form', :locals => {:f => f, :tituloForma => "Registra una Nueva Laptop"}%>
			<%= f.submit 'Registrar laptop' %>
			</div>
			<!-- Este div cierra al div que abre el partial -->
			</div>
			<!-- Este div pone la parte de abajo del subsection -->
			<div id ="bottom_section"></div>
		<% end %>
	</div>
</div>
