	<script type="text/javascript">
      $("document").ready(function(){
      $("#nuevaLaptop").css("display", "none");
      
			});
       $(function(){          
       		$("#apareceForma").click(function (){
               $("#nuevaLaptop").fadeIn("slow");
           });
           
      });
     
   </script>
    
	<%if current_user.admin? or current_user.colaborator?%>
		<%= render :partial => 'formaBusqueda'%>
	<%end%>
	
		<div id="top_subsection">
			<span>Tiene <%= pluralize(@user.laptops.count, "laptop") %> en reparación:</span>
		</div>
		<div id="subsection">
			<% @user.laptops.each do |l|%>
				<div id="wrapper" class="clearfix" >
					<div id="leftcolLap">
						<%if l.colaborators.count > 2%>
							<%= link_to image_tag ("boton_lap_fin.png"), :controller => "laptops", :action => "show", :id => l.id -%>
						<%else%>
							<%= link_to image_tag ("boton_lap_reg.png"), :controller => "laptops", :action => "show", :id => l.id -%>
						<%end%>
					</div>
					<div id="maincolLap">
						<br />
						Laptop: <%= l.marca%>
						<br />
						Color: <%= l.color%>
						<br />
						<%if l.colaborators.count < 3%>
							No finalizada.
						<%elsif l.colaborators.count == 3%>
							Finalizada.
						<%else%>
							Entregada.
						<%end%>
					</div>
				</div> 
			<% end %>
			<button id="apareceForma" class="botonForma" >Registrar nueva laptop</button>
			<br />
		</div>
	<div id="bottom_subsection"></div>
	<% @user.colaborators.each do |c|%>
		<%= link_to "Laptop #{c.status}", :controller => "laptops", :action => "show", :id => c.laptop_id%>
	<%end%>
	<!-- aqui termina la columna izquierda -->
</div>
<div id="maincol">
	<div id="nuevaLaptop">
		<% form_for(@laptop) do |f| %>
			<%= f.error_messages %>
			<%= render :partial => 'laptops/form', :locals => {:f => f, :tituloForma => "Registra una Nueva Laptop"}%>
			<%= f.submit 'Create' %>
			</div>
			<!-- Este div cierra al div que abre el partial -->
			</div>
			<!-- Este div pone la parte de abajo del subsection -->
			<div id ="bottom_section"></div>
		<% end %>
	</div>
</div>
