<div id="maincol">
 <%if current_user%>
		<%if current_user.admin?%>
			<div id="top_section"><%= link_to "Nueva Noticia", new_post_path %></div>
			<div id="body_section"></div>
			<div id="bottom_section"></div>
		<%end%>
	<%end%>
  <% for post in @posts %>
  		<div id="top_section">
  			<span id="titulo"><%=h post.title %></span>
      	<span id="fechaNoticia"><%=h post.publishedDate.to_formatted_s(:long_ordinal) %></span>
      </div>
      <div id="body_section">
      		<p id="contenido">
      			<%=h sanitize(post.content.gsub("\n", "<br />")) %>
      			<br />
      			<%if current_user%>
    	  			<%if current_user.admin? or current_user.colaborator?%>
      					<%= link_to "Edit", edit_post_path(post) %>
      					<%if current_user.admin?%>
      						- <%= link_to "Destroy", post, :confirm => '¿Seguro que deséas eliminar esta noticia?', :method => :delete %>
      					<%end%>
      				<%end%>
      			<%end%>
      		</p>
      </div>
      <div id="bottom_section"></div>
  <% end %>
 
</div>
