
	   	<div style="display:none">
	   	<a href="#paqueteAvanzado" rel="prettyPhoto[mixed]" style="float:right;font-size:10px;">No conozco los paquetes, ¿cuales son?</a>
	   	</div>
	   
	   <div id="paqueteBasico" style="display:none;">
			<span style="font-size:20px;"><b>Paquete Básico</b></span><br /><br />
			<p>El paquete básico contiene los programas fundamentales para el funcionamiento y protección óptimo de tu computadora.</p>
			<p>Incluye los siguientes programas:</p>
			<ul style="list-style:none;margin: 3px 0px 8px 0px">
			<li><span><%= image_tag 'programs/Avast2.png', :width => '22px', :height => '22px' %></span>Avast Antivirus</li>
		 <li><span><%= image_tag 'programs/Flash.png', :width => '22px', :height => '22px' %></span>Flash Player</li>
		 <li><span><%= image_tag 'programs/Java.png', :width => '22px', :height => '22px' %></span>Java</li>
		 <li><span><%= image_tag 'programs/Office.png', :width => '22px', :height => '22px' %></span>Office 2007</li>
			</ul>
		</div>
		
		<div id="paqueteAvanzado" style="display:none;">
			<span style="font-size:20px"><b>Paquete Personalizado</b></span><br /><br />
			<p>Con el paquete personalizado podrás darle un toque personal a tu computadora con aplicaciones de vanguardia y que además podras disfrutar por un costo adicional de solamente $20.00 pesos.</p>
			<p>Incluye los siguientes programas:</p>
			<ul style="list-style:none;margin: 3px 0px 8px 0px">
			<li><span><%= image_tag 'programs/Avast2.png', :width => '22px', :height => '22px' %></span>Avast Antivirus</li>
		 <li><span><%= image_tag 'programs/Flash.png', :width => '22px', :height => '22px' %></span>Flash Player</li>
		 <li><span><%= image_tag 'programs/Java.png', :width => '22px', :height => '22px' %></span>Java</li>
		 <li><span><%= image_tag 'programs/Office.png', :width => '22px', :height => '22px' %></span>Office 2007</li>
		  <li><span><%= image_tag 'programs/Chrome.png', :width => '22px', :height => '22px' %></span>Google Chrome</li>
		 <li><span><%= image_tag 'programs/Firefox.png', :width => '22px', :height => '22px' %></span>Mozilla Firefox</li>
		 <li><span><%= image_tag 'programs/Messenger.png', :width => '22px', :height => '22px' %></span>Messenger</li>
		  <li><span><%= image_tag 'programs/Skype.png', :width => '22px', :height => '22px' %></span>Skype</li>
		  <li><span><%= image_tag 'programs/iTunes2.png', :width => '22px', :height => '22px' %></span>iTunes</li>
		  <li><span><%= image_tag 'programs/Reader.png', :width => '22px', :height => '22px' %></span>Adobe Reader</li>
		  <li><span><%= image_tag 'programs/WinRAR.png', :width => '22px', :height => '22px' %></span>WinRAR</li>
		 </ul>
		</div>
