<div id="top_section"><span>Registra una Nueva Laptop</span></div>
  <div id="body_section">
  	<div id="contenido">
    	<%= f.label :marca %><br />
    	<%= f.text_field :marca %><br />
    	<br />
    	<%= f.label :modelo %><br />
    	<%= f.text_field :modelo %><br />
			<br />
    	<%= f.label :color %><br />
    	<%= f.text_field :color %><br />
			<br />
    	<%= f.label :defecto %><br />
    	<%= f.text_area :defecto %><br />
			<br />
    	<%= f.label :comentarios %><br />
    	<%= f.text_area :comentarios %><br />
			<br />
    	<%= f.label :usuario %><br />
    	<%= f.text_field :usuario %><br />
			<br />
    	<%= f.label :contra %><br />
    	<%= f.text_field :contra %><br />
			<br />
    	<%= f.label :estado %><br />
    	<%= f.text_field :estado %><br />
			<br />
    	<%= f.label :paquete  %><br />
    	<%= f.text_field :paquete %><br />
			<br />
    	<%= f.label :respaldo %><br />
    	<%= f.check_box :respaldo %><br />
			<br />
    	<%= f.label :total %><br />
    	<%= f.text_field :total %><br />
    	<br />
