
<div id="maincol">

<div id="top_section"><%=@title%></div>
<div id="body_section">
<div id="contenido">

<table class="laptops" cellspacing="0">
	<tr>
		<% cuenta = 0 %>
		<% total = 0 %>
		<th class="titulos" colspan="6">Ganancias</th>
	</tr>
  <tr>
  	<th class="titulos"># Laptops</th>
    <th class="titulos">Precio por laptop</th>
  </tr>
	<% @laptops.each do |laptop| %>
  <tr>
  	<td class="lista"><%=h laptop.count %></td>
  	<% cuenta = cuenta.to_i+(laptop.count.to_i * laptop.total.to_i)%>
		<% total = total.to_i + laptop.count.to_i %>
		<td class="lista"><%= number_to_currency(laptop.total)%></td>
	</tr>
	<%end%>
	<tr>
	  <th class="titulos">Total</th>
	  <th class="titulos">Ganancia Total</th>
	</tr>
	<tr>
	  <td class="lista"><%= total %></td>
	  <td class="lista"><%= number_to_currency(cuenta)%></td>
	</tr>
</table>
</div>
</div>
<div id="bottom_section"></div>
</div>
