<h1>New laptop</h1>

<% form_for(@laptop) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'form', :locals => {:f => f}%>
	<p>
    <%= f.label :user_id,'Cliente' %><br />
    <%= f.text_field :user_id , :value => current_user.id%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', laptops_path %>
