<p>
  <b>Marca:</b>
  <%=h @laptop.marca %>
</p>

<p>
  <b>Modelo:</b>
  <%=h @laptop.modelo %>
</p>

<p>
  <b>Color:</b>
  <%=h @laptop.color %>
</p>

<p>
  <b>Defecto:</b>
  <%=h @laptop.defecto %>
</p>

<p>
  <b>Comentarios:</b>
  <%=h @laptop.comentarios %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @laptop.usuario %>
</p>

<p>
  <b>Contra:</b>
  <%=h @laptop.contra %>
</p>

<p>
  <b>Estado:</b>
  <%=h @laptop.estado %>
</p>

<p>
  <b>Paquete:</b>
  <%=h @laptop.paquete %>
</p>

<p>
  <b>Respaldo:</b>
  <%=h @laptop.respaldo %>
</p>

<p>
  <b>Cliente:</b>
  <%=h "#{@laptop.user.fname} #{@laptop.user.lname}" %>
</p>

<p>
  <b>Total:</b>
  <%=h @laptop.total %>
</p>


<% @laptop.colaborators.each do |c|%>
<p>
  <b>Colaborador:</b>
  <%=h "#{c.user.fname} #{c.user.lname}" %>
</p>



<p>
  <b>Estado:</b>
  <%=h c.status %>
</p>
<%end%>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
