<div id="maincol">

<div id="top_section"><%=@title%></div>
<div id="body_section">
<div id="contenido">
  <b>Marca:</b>
  <%=h @laptop.marca %>
<br />
  <b>Modelo:</b>
  <%=h @laptop.modelo %>
<br />
  <b>Color:</b>
  <%=h @laptop.color %>
<br />
  <b>Defecto:</b>
  <%=h @laptop.defecto %>
<br />
  <b>Comentarios:</b>
  <%=h @laptop.comentarios %>
<br />
  <b>Usuario:</b>
  <%=h @laptop.usuario %>
<br />
  <b>Contra:</b>
  <%=h @laptop.contra %>
<br />
<% if current_user.admin? or current_user.colaborator? -%>
  <b>Estado:</b>
  <%=h @laptop.estado %>
<br />
<% end -%>
  
  <b>Paquete:</b>
  <%=h @laptop.paquete.capitalize %>
<br />
<% if @laptop.program -%>
  <div>
    <% if @laptop.program.avast? -%>
      <p>Avast</p>
    <% end -%>
    <% if @laptop.program.flash? -%>
      <p>Flash</p>
    <% end -%>
    <% if @laptop.program.java? -%>
      <p>Java</p>
    <% end -%>
    <% if @laptop.program.office? -%>
      <p>Office</p>
    <% end -%>
    <% if @laptop.program.chrome? -%>
      <p>Google Chrome</p>
    <% end -%>
    <% if @laptop.program.firefox? -%>
      <p>Firefox</p>
    <% end -%>
    <% if @laptop.program.messenger? -%>
      <p>Messenger</p>
    <% end -%>
    <% if @laptop.program.skype? -%>
      <p>Skype</p>
    <% end -%>
    <% if @laptop.program.itunes? -%>
      <p>iTunes</p>
    <% end -%>
    <% if @laptop.program.reader? -%>
      <p>Adobe Reader</p>
    <% end -%>
    <% if @laptop.program.winrar? -%>
      <p>WinRAR</p>
    <% end -%>
    
  </div>
<% end -%>
  <b>Respaldo:</b>
  <%= image_tag "#{@laptop.respaldo}.png" %>
<br />
  <b>Cliente:</b>
  <%=h "#{@laptop.user.fname} #{@laptop.user.lname}" %>
<br />
  <b>Total:</b>
  <%=h number_to_currency(@laptop.total) %>
<br />



<% @laptop.colaborators.each do |c|%>
  <b>Colaborador:</b>
  <%=h "#{c.user.fname} #{c.user.lname}" %>
<br />

  <b>Estado:</b>
  <%=h c.status %>
<br />
<%end%>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %> |
<%= link_to 'Delete', @laptop, :confirm => 'Are you sure?', :method => :delete %>

</div>
</div>
<div id="bottom_section"></div>
</div>
