<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <link rel="shortcut icon" href="/favicon.ico">
    <title><%= titulo %></title>
    <% if @refresh%>
       <meta content="900" http-equiv="REFRESH"> </meta>
    <% end -%>
    <%= stylesheet_link_tag 'saitc' %>
    <%= javascript_include_tag 'jquery-1.4.2'%>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <link rel="stylesheet" href="/pretty/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
  	<script src="/pretty/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17866519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
  
  <script type="text/javascript">
   var $j = jQuery.noConflict();
                  $j(document).ready(function() {
                    	$j("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'});
                    setTimeout(hideFlashMessages, 3500);
                  });

                  function hideFlashMessages() {
                    $j('#flash_notice, #flash_error').fadeOut(2000);
                  }
   </script>
   
    <div id="majorContent">
    <%= render :partial => 'general/header' %>
    <!--[if lt IE 8]>
      <div id="notExplorer">
        Esta página se visualiza mejor en <%= link_to 'Google Chrome', 'http://www.google.com/chrome' %>, <%= link_to 'Mozilla Firefox', 'http://www.getfirefox.com' %> o <%= link_to 'IE8', 'http://www.microsoft.com/spain/windows/internet-explorer/' %>
      </div>
    <![endif]-->
    
      <div id="wrapper" class="clearfix" >
      	<div id="leftcol">
        	<% flash.each do |key, value| %>
        		<%= content_tag(:div, value, :id => "flash_#{key}") %>
        	<% end %> 
        		<%= render :partial => 'users/user_menu' %>
    	  <%if current_user%>
    	  	<%if current_user.admin? or current_user.colaborator?%>
    	  		<div id="top_subsection">
        			<span>
        				Administración
            	</span>
            </div>
            <div id="subsection">
            	<%= link_to_if current_user.admin?, "Nueva Noticia", new_post_path%><br/>
            	<%= link_to_if current_user.admin?, "Estadísticas", estadisticas_path%><br />
            	<%= link_to "Recepción", '/laptops?estado=0' %><br />
            	<%= link_to "Lista de Usuarios", users_path%><br />
            	<%= link_to "Lista de Laptops", laptops_path%><br />
            </div>
            <div id="bottom_subsection"></div>
						<%= render :partial => 'users/formaBusqueda'%>
						<%= render :partial => 'laptops/formaBusqueda'%>
					<%end%>
					<%if current_user.laptops.count > 0%>
    	  	<div id="top_subsection">
						<span id="laptops">Tienes <%= pluralize(current_user.laptops.count, "laptop") %> en reparación:</span>
					</div>
					<div id="subsection">
						<% current_user.laptops.each do |l|%>
							<div id="wrapper" class="clearfix" >
								<div id="leftcolLap">
									<%if l.estado > 2%>
										<%= link_to image_tag("boton_lap_fin.png", :border=>"0", :onmouseover=>"this.style.opacity=.7;", :onmouseout=>"this.style.opacity=1;"), :controller => "laptops", :action => "show", :id => l.id -%>
									<%else%>
										<%= link_to image_tag("boton_lap_reg.png", :border=>"0", :onmouseover=>"this.style.opacity=.7;", :onmouseout=>"this.style.opacity=1;"), :controller => "laptops", :action => "show", :id => l.id -%>
									<%end%>
								</div>
								<div id="maincolLap">
									Laptop: <%= l.marca%>
									<br />
									Color: <%= l.color%>
									<br />
									<%if l.estado < 3%>
										<span id="nofin">No finalizada.</span>
									<%elsif l.estado == 3%>
										<span id="fin">Finalizada.</span>
									<%else%>
										<span id="fin">Entregada.</span>
									<%end%>
								</div>
							</div> 
						<% end %>
						
						
					</div>
					<div id="bottom_subsection"></div>
					<%end%>
				<% end %>
    	  </div>
    		<%= yield %>
    			
    			<br />
    	</div>				
    	<%= render :partial => 'general/footer' %>
    </div>
  </body>
</html>
